  body {
    background-color: rgb(236, 231, 231);
    text-align: center;
}
.intake {
  margin-top: 90px;
}
@media only screen and (max-width:900px) {
body {
  text-align: center;
}
.intakeF {
  width: 10px;
}
}
